body {

	text-align: center;
	margin: 0;
	background-color: #5A5A5A;

}

#contener {
	
	width: 1000px;
	margin-left:auto;
	margin-right:auto;
	overflow: hidden;
	text-align: center;

}

nav{

	border-radius: 4px;
	background-color: #222222;
	display: table;
	width: 100%;
	margin-left:auto;
	margin-right:auto;
	text-align: left;

}

ul {

	padding-left: 0px;
	width: 300%;
	list-style-type: none; 
	display: block;

}

li {

	width: 50%;
	float:left;
	display: none;
        list-style-type: none;

}

button {

	margin: 0;
	padding: 0;
	line-height: 100%;
	border: 0;
	background: none;
	text-decoration: none;
	cursor: pointer;

}

.selected_page {

	background-color: black;
	border-radius: 4px;

}

.selected_slide {

	position: relative;
	left: 0;
	bottom: 0;
	display: inline-block;

}


a:link {

	text-decoration: none;
	color: white;

}


a:visited {

        text-decoration: none;
	color: white;

}


a:hover {

	color: #999999;

}

a:active {

        text-decoration: none;
	color: white;

}

a {

	display: inline-block;
	text-align: center;
	padding: 10px;
	margin: 10px;
}

#my_name {

	color: #999999;
	border-radius: 4px;

}


#my_name:hover {

	color: white;

}

#menu_choices {

	display: inline-block;

}

#display_menu {

	display: none;

}


#slideleft, #slideright {

	font-size:50px;

}

@media screen and (max-width: 600px)
{
	#menu_choices {
		display: none;
	} 

	nav {
		
		width: 100%;
	}	

	#display_menu {
		display: inline-block;
		position: absolute;
		margin: 10px;
		right: 10px;
		font-size: 40px;
	}
}



@media screen and (max-width: 1000px)
{

	#contener {

		width: 100%;

	}

        nav {

                width: 100%;
        }

}

