body {

	margin: 0;
	/**background-color: #5A5A5A;**/
	background-color: #2E9AFE;
	
}

#contener {
	
	width: 1000px;
	margin-left:auto;
	margin-right:auto;
	overflow: hidden;
	text-align: center;
}

nav{

	position: relative;
	border-radius: 4px;
	background-color: #222222;
	display: table;
	width: 100%;
	margin-left:auto;
	margin-right:auto;
	text-align: left;

}



ul {

	position: relative;
	text-align: left;
	margin-left: 0 auto;
	margin-right: 0 auto;
	max-height: 300px;
	padding-left: 0px;
	width: 300%;
	margin-left: -100%;
	list-style-type: none; 
	display: inline-block;
	font-size: 0px;

}

.selected_slide {

	position: relative;
	width: 33.3333%;
	margin-left: 33.3333%;
	left: 0;
	bottom: 0;

}


#carousel > li {
	display: none;
	text-align: center;
	list-style-type: none;
	height: 300px;
	font-size: 17px; font-size: 1.7rem;
	vertical-align: text-top;
	/**display: inline-block;**/

}

li > div > div {

	display: inline-block;
	margin-left: auto;
	margin-right: auto;
	text-align: left;

}

li > div > div > div {

	margin-bottom: 10px;

}

li > div > div > span {

	margin-left: 70px;
	display: list-item;
	list-style-type: disc;

}

li > div {

	margin-top: 10px;
	margin-right: 20px;
	margin-left: 20px;

}

#langues {

	display:none;
	position: absolute;
	text-align: right;
	right: 0px;
	z-index: 1;

}
	
img {

	margin-left: 5px;
	cursor: pointer;

}

button {

	margin: 0;
	padding: 0;
	line-height: 100%;
	border: 0;
	background: none;
	text-decoration: none;
	cursor: pointer;

}

.more_informations {

	vertical-align: text-bottom;

}

.here:link {

	margin: 0px;
	padding: 0px;
	color: black;

}

.here:visited {

	margin: 0px;
	padding: 0px;
	color: black;

}

.here:active {

	margin: 0px;
	padding: 0px;
	color: black;

}

.here:hover {

	color: white;

}

.selected_page {

	background-color: black;
	border-radius: 4px;

}

.fa-globe {
	font-size: 40px;
	vertical-align: middle;
	color: #BABABA;
}

.selected_button {

	color: white;

}

a:link {

	text-decoration: none;
	color: white;

}


a:visited {

        text-decoration: none;
	color: white;

}


a:hover {

	color: #999999;

}

a:active {

        text-decoration: none;
	color: white;

}

a {

	display: inline-block;
	text-align: center;
	padding: 10px;
	margin: 10px;
}

#buttons {

	text-align: left;

}

#slideleft {

	position: relative;
	bottom: 200px;
	z-index: 10;
	left: 3px;

}

#slideright {

	position: relative;
	bottom: 200px;
	z-index: 10;
	float: right;
	right: 3px;

}

#my_name {

	color: #999999;
	border-radius: 4px;

}


#my_name:hover {

	color: white;

}

#menu_choices {

	display: inline-block;

}

#display_menu {

	display: none;
	color: #BABABA;

}


#slideleft, #slideright {

	font-size:50px;

}

@media screen and (max-width: 600px)
{
	#menu_choices {
		display: none;
	} 

	nav {
		
		width: 100%;
	}	

	#display_menu {
		display: inline-block;
		position: absolute;
		margin: 10px;
		margin-right: 0px;
		right: 60px;
		font-size: 40px;
	}
	.fa-globe {
		display: inline-block;
		position: absolute;
		margin: 10px;
		margin-right: 0px;
		right: 10px;
		font-size: 40px;
	}
	#langues {

		margin-right: 10px;

	}
}



@media screen and (max-width: 1015px)
{

	#contener {

		width: 100%;

	}

        nav {

                width: 100%;
        }

}

